body{
  padding: 1%;
}

.head img{
  width: 12%;
}

header{
  background-color: black;
  padding: 1%;
  width: 100%;
}

header nav button{
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
}